/*基础样式文件*/

html, body {
    width: 100%;
    padding-bottom: constant(safe-area-inset-bottom); // iphoneX适配
    background: #F8F8F8;
    overflow-x: hidden;
    font-family: PingFang-SC-Light, PingFangSC-Regular, Helvetica, Arial, sans-serif;
    font-size: inherit;
}

// 隐藏滚动条
::-webkit-scrollbar {
    display: none;
}

// 文本框和文本域的提示文字样式
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 0.7;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0.49px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 0.7;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0.49px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 0.7;
    color: #333333;
    font-size: 14px;
    letter-spacing: 0.49px;
}

// 浮动
.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

// 清除浮动
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

// 显现&隐藏 display
.Ds {
    display: block !important;
}

.Dh {
    display: none !important;
}

// 显现&隐藏 opacity
.Os {
    opacity: 1 !important;
}

.Oh {
    opacity: 0 !important;
}
