/*基础样式文件*/

html, body {
    width: 100%;
    padding-bottom: constant(safe-area-inset-bottom); /*iphoneX适配*/
    background: #F8F8F8;
    overflow-x: hidden;
    font-family: PingFang-SC-Light, PingFangSC-Regular, Helvetica, Arial, sans-serif;
    font-size: inherit;
}




